<h1>Profile</h1>
<ol>
  <li>
    Username: <%= user.username %>
  </li>
  <li>
    Firstname: <%= user.firstname %>
  </li>
  <li>
    Lastname: <%= user.lastname %>
  </li>
  <li>
    Password: <%= user.password %>
  </li>
  <li>
    IsAdmin: <%= user.isAdmin %>
  </li>
</ol>
